@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'SpecialElite';
  src: url('SpecialElite-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CookingRegular';
  src: url('NerkoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
